
body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}
header {
  background: #007BFF;
  color: white;
  padding: 20px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
main {
  padding: 20px;
}
footer {
  background: #eee;
  text-align: center;
  padding: 10px;
}
